<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Treinador</title>
</head>
<body>
    <h1>Cadastrar Novo Treinador</h1>
    <form action="/trainers/createTrainer" method="POST">
        <label for="name">Nome do Treinador:</label>
        <input type="text" id="name" name="name" required>

        <h2>Selecione os Pokémons:</h2>
        <% pokemons.forEach(function(pokemon) { %>
            <input type="checkbox" id="pokemon<%= pokemon.id %>" name="pokemons" value="<%= pokemon.id %>">
            <label for="pokemon<%= pokemon.id %>"><%= pokemon.nome %> - <%= pokemon.tipo %></label><br>
        <% }); %>

        <button type="submit">Cadastrar Treinador</button>
    </form>
    
    <a href="/trainers">
        <button>Voltar para a lista de treinadores</button>
    </a>
    <a href="/">
        <button>Voltar para a lista de Pokemons</button>
    </a>
    
</body>
</html>
